<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style/styles.css}" rel="stylesheet">

</head>
<html>
<body>

<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->



<!--<ul>-->
<!--    <li><a class="active" href="/">Home</a></li>-->
<!--    <li><a href="/albums">Albums</a></li>-->
<!--    <li><a href="/upperCase/hello">Capitalize</a></li>-->
<!--    <li style="float:right"><a href="/hello">Hello</a></li>-->
<!--</ul>-->
<h1 style="text-align: center; margin: 60px;">Hello From My Website </h1>

</body>

</html>